<?xml version="1.0"?>
<model>
  <name>iris_with_stereo</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <description>
    Iris quadrotor con cámaras estéreo (cam0 izquierda, cam1 derecha)
    ancladas rígidamente a imu_link. Incluye plugin de vuelo ArduPilot.
  </description>
</model>
